/// Variables
$white: #FFFFFF;
$black: #1a1a1a;

$dark: #363636;
$highlight: #e47876;

$font: 'Montserrat', sans-serif;
$fontWeight: 400;
$boldFontWeight: 500;

$family-primary: $font;
$primary: $highlight;

/// bulma
@import "bulma";

// global settings
html {
    font-family: $font;
    font-weight: $fontWeight;

    color: $dark;
    background-color: $white;

    padding: 0;
    margin: 0;

    h1, h2, h3, h4, h5, h6 {
        font-weight: $boldFontWeight;
    }
    
    a, a:visited, a:active {
        text-decoration: none;
        color: $dark;    
    }
    
    a:hover {
        border-bottom: 3px solid $highlight;
    }
}
