$fontTitle: 'Taviraj', serif;
$font: 'Work Sans', sans-serif;

$colorDarkest: #333A42;
$colorDarker: #485058;
$colorMiddle: #A6A5A1;
$colorLight: #F1ECE9;
$colorHighlight: #D7443F;

$white: #FFF;
$black: #111;