<!doctype HTML>
<html>
<head>
        <meta name="description" content="personal website">
        <meta name="keywords" content="computer science in media, visual computing">
        <meta name="author" content="Moritz Roetner">
        <meta name="google-site-verification" content="ohpDFP7OsX97GDTa-0JwzfzzncWRPs_Oc9MVFPvbGws" />

    <style>
    a { text-decoration: underline; color: black;}
    a:hover {text-decoration: none; }
    a:visited {color: black; }
    </style>
    <title>Moritz Roetner; student - computer science in media</title>
</head>
<body>
<article># Hello.</article>
<nav>

    <a href="https://github.com/moritzhfu" target="_blank">GitHub</a><br/>
    <a href="http://fusee3d.org/" target="_blank"><span style="color:greenyellow">F</span>USEE</a>

</nav>
</body>
</html>
