<!doctype HTML>
<html>
<head>
        <meta name="description" content="personal website">
        <meta name="keywords" content="computer science in media, visual computing">
        <meta name="author" content="Moritz Roetner">

    <style>
    a { text-decoration: underline; color: black;}
    a:hover {text-decoration: none; }
    a:visited {color: black; }
    </style>
</head>
<body>
<p># Hello.</p>
<p>
    <a href="https://github.com/moritzhfu" target="_blank">GitHub</a><br/>
    <a href="http://fusee3d.org/" target="_blank"><span style="color:greenyellow">F</span>USEE</a>

</p>
</body>
</html>
