<!DOCTYPE html>
<html lang="en">
{% include base.html %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
    <meta name="description" content="Personal blog Moritz Roetner">
    <meta name="keywords" content="cv, programmer, blog, shader, c#">
    <meta name="author" content="Moritz Roetner">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Taviraj|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">


    <title>Moritz Roetner - Main</title>
</head>

<body>

    <header>
        <h1>Moritz Roetner</h1>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About &amp; CV</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Search</a>
                </li>
            </ul>
        </nav>
    </header>

</body>

</html>